* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(45deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    min-height: 100vh;
    color: #fff;
}

body.Cloudy {
    background: linear-gradient(45deg, hsla(217, 100%, 28%, 1) 0%, hsla(187, 43%, 79%, 1) 100%);
}

body.Rainy {
    background: linear-gradient(45deg, hsla(217, 100%, 28%, 1) 0%, hsla(187, 58%, 56%, 1) 100%);
}

body.Snowy {
    background: linear-gradient(45deg, hsla(217, 68%, 23%, 1) 0%, hsla(0, 0%, 70%, 1) 100%);
}